$muldev-font-path: "/muldev-fonts" !default;

$mu-ico-emotion-happy-transparent: "\ed6f";
$mu-ico-emotion-happy-solid: "\ed70";
$mu-ico-emotion-smile-transparent: "\ed71";
$mu-ico-emotion-smile-solid: "\ed72";
$mu-ico-emotion-tongue-transparent: "\ed73";
$mu-ico-emotion-tongue-solid: "\ed74";
$mu-ico-emotion-sad-transparent: "\ed75";
$mu-ico-emotion-sad-solid: "\ed76";
$mu-ico-emotion-wink-transparent: "\ed77";
$mu-ico-emotion-wink-solid: "\ed78";
$mu-ico-emotion-grin-transparent: "\ed79";
$mu-ico-emotion-grin-solid: "\ed7a";
$mu-ico-emotion-cool-transparent: "\ed7b";
$mu-ico-emotion-cool-solid: "\ed7c";
$mu-ico-emotion-angry-transparent: "\ed7d";
$mu-ico-emotion-angry-solid: "\ed7e";
$mu-ico-emotion-evil-transparent: "\ed7f";
$mu-ico-emotion-evil-solid: "\ed80";
$mu-ico-emotion-shocked-transparent: "\ed81";
$mu-ico-emotion-shocked-solid: "\ed82";
$mu-ico-emotion-baffled-transparent: "\ed83";
$mu-ico-emotion-baffled-solid: "\ed84";
$mu-ico-emotion-confused-transparent: "\ed85";
$mu-ico-emotion-confused-solid: "\ed86";
$mu-ico-emotion-neutral-transparent: "\ed87";
$mu-ico-emotion-neutral-solid: "\ed88";
$mu-ico-emotion-hipster-transparent: "\ed89";
$mu-ico-emotion-hipster-solid: "\ed8a";
$mu-ico-emotion-wondering-transparent: "\ed8b";
$mu-ico-emotion-wondering-solid: "\ed8c";
$mu-ico-emotion-sleepy-transparent: "\ed8d";
$mu-ico-emotion-sleepy-solid: "\ed8e";
$mu-ico-emotion-frustrated-transparent: "\ed8f";
$mu-ico-emotion-frustrated-solid: "\ed90";
$mu-ico-emotion-crying-transparent: "\ed91";
$mu-ico-emotion-crying-solid: "\ed92";
$mu-ico-user-tie-solid: "\ed06";
$mu-ico-man: "\ed6c";
$mu-ico-woman: "\ed6d";
$mu-ico-man-woman: "\ed6e";
$mu-ico-user2-solid: "\ed01";
$mu-ico-group-x2-solid: "\ed02";
$mu-ico-user-minus: "\ed04";
$mu-ico-user-check: "\ed05";
$mu-ico-user-plus-solid: "\ed03";
$mu-ico-user-edit-solid: "\e901";
$mu-ico-group-x2-add-solid: "\e907";
$mu-ico-group-x2-delete-cross-solid: "\e909";
$mu-ico-group-x2-favourite-solid: "\e90a";
$mu-ico-group-x2-attach-solid: "\e90b";
$mu-ico-group-x2-padlock-solid: "\e90c";
$mu-ico-group-x3-solid: "\e90e";
$mu-ico-group-x2-solid2: "\e90f";
$mu-ico-group-x2-delete-dash-solid: "\e910";
$mu-ico-user-solid: "\e912";
$mu-ico-user-delete-dash-solid: "\e915";
$mu-ico-user-add-solid: "\e919";
$mu-ico-user-delete-cross-solid: "\e91c";
$mu-ico-user-favourite-solid: "\e920";
$mu-ico-user-previous: "\e921";
$mu-ico-user-next: "\e922";
$mu-ico-user-smartphone-path1: "\eb70";
$mu-ico-user-smartphone-path2: "\eb71";
$mu-ico-user-smartphone-path3: "\eb72";
$mu-ico-user-smartphone-path4: "\eb73";
$mu-ico-user-smartphone-path5: "\eb74";
$mu-ico-user-smartphone-path6: "\eb75";
$mu-ico-user-smartphone-path7: "\eb76";
$mu-ico-people-path1: "\eae4";
$mu-ico-people-path2: "\eae5";
$mu-ico-people-path3: "\eae6";
$mu-ico-people-path4: "\eae7";
$mu-ico-people-path5: "\eae8";
$mu-ico-people-path6: "\eae9";
$mu-ico-people-path7: "\eaea";
$mu-ico-people-path8: "\eaeb";
$mu-ico-teamwork-path1: "\eb81";
$mu-ico-teamwork-path2: "\eb82";
$mu-ico-teamwork-path3: "\eb83";
$mu-ico-teamwork-path4: "\eb84";
$mu-ico-teamwork-path5: "\eb85";
$mu-ico-group-3-path1: "\e9ec";
$mu-ico-group-3-path2: "\e9ed";
$mu-ico-group-3-path3: "\e9ee";
$mu-ico-group-3-path4: "\e9ef";
$mu-ico-group-3-path5: "\e9f0";
$mu-ico-group-3-path6: "\e9f1";
$mu-ico-user-in-circle: "\e931";
$mu-ico-user-sharing-path1: "\eb61";
$mu-ico-user-sharing-path2: "\eb62";
$mu-ico-user-sharing-path3: "\eb63";
$mu-ico-user-sharing-path4: "\eb64";
$mu-ico-user-sharing-path5: "\eb65";
$mu-ico-user--with-tie-path1: "\ebb0";
$mu-ico-user--with-tie-path2: "\ebb1";
$mu-ico-user--with-tie-path3: "\ebb2";
$mu-ico-user--with-tie-path4: "\ebb3";
$mu-ico-user--with-tie-path5: "\ebb4";
$mu-ico-user--with-tie-path6: "\ebb5";
$mu-ico-user--with-tie-path7: "\ebb6";
$mu-ico-user-with-tie-chat-grey-path1: "\ebb7";
$mu-ico-user-with-tie-chat-grey-path2: "\ebb8";
$mu-ico-user-with-tie-chat-grey-path3: "\ebb9";
$mu-ico-user-with-tie-chat-grey-path4: "\ebba";
$mu-ico-user-with-tie-chat-grey-path5: "\ebbb";
$mu-ico-user-with-tie-chat-grey-path6: "\ebbc";
$mu-ico-user-cricle-transparent-path1: "\ebbd";
$mu-ico-user-cricle-transparent-path2: "\ebbe";
$mu-ico-user-cricle-transparent-path3: "\ebbf";
$mu-ico-user-cricle-transparent-path4: "\ebc0";
$mu-ico-user-with-tie-chat-blue-path1: "\ebc1";
$mu-ico-user-with-tie-chat-blue-path2: "\ebc2";
$mu-ico-user-with-tie-chat-blue-path3: "\ebc3";
$mu-ico-user-with-tie-chat-blue-path4: "\ebc4";
$mu-ico-user-with-tie-chat-blue-path5: "\ebc5";
$mu-ico-user-with-tie-chat-blue-path6: "\ebc6";
$mu-ico-user-with-tie-chat-blue-path7: "\ebc7";
$mu-ico-user-with-tie-piechart-path1: "\ebc8";
$mu-ico-user-with-tie-piechart-path2: "\ebc9";
$mu-ico-user-with-tie-piechart-path3: "\ebca";
$mu-ico-user-with-tie-piechart-path4: "\ebcb";
$mu-ico-user-with-tie-piechart-path5: "\ebcc";
$mu-ico-user-heart-blue-path1: "\ebcd";
$mu-ico-user-heart-blue-path2: "\ebce";
$mu-ico-user-heart-blue-path3: "\ebcf";
$mu-ico-user-padlock-blue-locked-path1: "\ebd0";
$mu-ico-user-padlock-blue-locked-path2: "\ebd1";
$mu-ico-user-padlock-blue-locked-path3: "\ebd2";
$mu-ico-user-with-arrows-path1: "\ebd3";
$mu-ico-user-with-arrows-path2: "\ebd4";
$mu-ico-user-with-arrows-path3: "\ebd5";
$mu-ico-user-with-arrows-path4: "\ebd6";
$mu-ico-user-with-arrows-path5: "\ebd7";
$mu-ico-user-with-arrows-path6: "\ebd8";
$mu-ico-user-with-arrows-path7: "\ebd9";
$mu-ico-user-thinking-path1: "\ebda";
$mu-ico-user-thinking-path2: "\ebdb";
$mu-ico-user-thinking-path3: "\ebdc";
$mu-ico-user-thinking-path4: "\ebdd";
$mu-ico-user-thinking-path5: "\ebde";
$mu-ico-user-thinking-path6: "\ebdf";
$mu-ico-user-padlock-blue-locked-secure-path1: "\ebe5";
$mu-ico-user-padlock-blue-locked-secure-path2: "\ebe6";
$mu-ico-user-padlock-blue-locked-secure-path3: "\ebe7";
$mu-ico-user-padlock-grey-unlocked-path1: "\ebe8";
$mu-ico-user-padlock-grey-unlocked-path2: "\ebe9";
$mu-ico-user-padlock-grey-unlocked-path3: "\ebea";
$mu-ico-user-with-tie-blue-path1: "\ebf2";
$mu-ico-user-with-tie-blue-path2: "\ebf3";
$mu-ico-user-with-tie-blue-path3: "\ebf4";
$mu-ico-user-with-tie-grey-path1: "\ebf5";
$mu-ico-user-with-tie-grey-path2: "\ebf6";
$mu-ico-user-with-tie-grey-path3: "\ebf7";
$mu-ico-user-in-circle2: "\ec4d";
$mu-ico-user-add-transparent: "\ec4e";
$mu-ico-user-transparent: "\ec4f";
$mu-ico-card-contact-add-transparent: "\ec50";
$mu-ico-card-contact-clipboard-transparent: "\ec51";
$mu-ico-card-contact-solid: "\ec52";
$mu-ico-card-contact-clipboard-solid: "\ec53";
$mu-ico-card-contact-male-clipboard-solid: "\ec54";
$mu-ico-card-contact-transparent: "\ec55";
$mu-ico-card-contact-female-transparent: "\ec56";
$mu-ico-cards-contacts: "\ec57";
$mu-ico-cards-contact-database: "\ec58";
$mu-ico-card-contact-male-clipboard-transparent: "\ec59";
$mu-ico-card-contact-email: "\ec5a";
$mu-ico-card-contact-delete: "\ec5b";
$mu-ico-card-contact-with-at: "\ec5c";
$mu-ico-card-contact-male-transparent: "\ec5d";
$mu-ico-padlock-open-solid: "\e923";
$mu-ico-blocked: "\e924";
$mu-ico-forbidden: "\e924";
$mu-ico-denied: "\e924";
$mu-ico-banned: "\e924";
$mu-ico-stopwatch: "\e925";
$mu-ico-time: "\e925";
$mu-ico-speed: "\e925";
$mu-ico-meter: "\e925";
$mu-ico-chronometer: "\e925";
$mu-ico-alarm: "\e926";
$mu-ico-time2: "\e926";
$mu-ico-clock: "\e926";
$mu-ico-clock2: "\e927";
$mu-ico-time3: "\e927";
$mu-ico-schedule: "\e927";
$mu-ico-clock3: "\e928";
$mu-ico-time4: "\e928";
$mu-ico-schedule2: "\e928";
$mu-ico-lock: "\e92a";
$mu-ico-secure: "\e92a";
$mu-ico-private: "\e92a";
$mu-ico-encrypted: "\e92a";
$mu-ico-add: "\ec5e";
$mu-ico-page-add: "\ec5f";
$mu-ico-attachment: "\ec62";
$mu-ico-audio: "\ec63";
$mu-ico-cancel: "\ec67";
$mu-ico-check: "\ec68";
$mu-ico-chronometer2: "\ec69";
$mu-ico-clock4: "\ec6a";
$mu-ico-compass3: "\ec6b";
$mu-ico-delete: "\ec6d";
$mu-ico-delete-1: "\ec6e";
$mu-ico-delete-text: "\ec6f";
$mu-ico-email2: "\ec71";
$mu-ico-favorite: "\ec72";
$mu-ico-file: "\ec73";
$mu-ico-filters: "\ec74";
$mu-ico-headphones: "\ec75";
$mu-ico-inbox: "\ec76";
$mu-ico-inbox-1: "\ec77";
$mu-ico-map-pin: "\ec79";
$mu-ico-movie: "\ec7a";
$mu-ico-no-chrono: "\ec7b";
$mu-ico-notification2: "\ec7c";
$mu-ico-padlock3: "\ec7d";
$mu-ico-pad-numbers: "\ec7e";
$mu-ico-photo-camera: "\ec80";
$mu-ico-photograph: "\ec81";
$mu-ico-presentation: "\ec82";
$mu-ico-purchases: "\ec83";
$mu-ico-reverse-camera: "\ec85";
$mu-ico-search2: "\ec86";
$mu-ico-time5: "\ec88";
$mu-ico-timer: "\ec89";
$mu-ico-video: "\ec8d";
$mu-ico-home2: "\ec90";
$mu-ico-office: "\ec93";
$mu-ico-newspaper: "\ec94";
$mu-ico-pencil3: "\ec95";
$mu-ico-pencil22: "\ec96";
$mu-ico-eyedropper: "\ec9a";
$mu-ico-paint-format: "\ec9c";
$mu-ico-image: "\ec9d";
$mu-ico-images: "\ec9e";
$mu-ico-camera: "\ec9f";
$mu-ico-play: "\eca2";
$mu-ico-film: "\eca3";
$mu-ico-video-camera: "\eca4";
$mu-ico-pacman: "\eca6";
$mu-ico-bullhorn: "\ecaa";
$mu-ico-mic: "\ecae";
$mu-ico-book: "\ecaf";
$mu-ico-books: "\ecb0";
$mu-ico-library: "\ecb1";
$mu-ico-file-text: "\ecb2";
$mu-ico-profile: "\ecb3";
$mu-ico-file-empty: "\ecb4";
$mu-ico-files-empty: "\ecb5";
$mu-ico-file-text2: "\ecb6";
$mu-ico-file-picture: "\ecb7";
$mu-ico-file-music: "\ecb8";
$mu-ico-file-play: "\ecb9";
$mu-ico-file-video: "\ecba";
$mu-ico-file-zip: "\ecbb";
$mu-ico-copy: "\ecbc";
$mu-ico-paste: "\ecbd";
$mu-ico-stack: "\ecbe";
$mu-ico-folder: "\ecbf";
$mu-ico-folder-open: "\ecc0";
$mu-ico-folder-plus: "\ecc1";
$mu-ico-folder-minus: "\ecc2";
$mu-ico-folder-download: "\ecc3";
$mu-ico-folder-upload: "\ecc4";
$mu-ico-barcode: "\ecc7";
$mu-ico-qrcode: "\ecc8";
$mu-ico-cart: "\ecca";
$mu-ico-coin-dollar: "\eccb";
$mu-ico-coin-euro: "\eccc";
$mu-ico-coin-pound: "\eccd";
$mu-ico-coin-yen: "\ecce";
$mu-ico-credit-card: "\eccf";
$mu-ico-calculator: "\ecd0";
$mu-ico-address-book: "\ecd4";
$mu-ico-envelop: "\ecd5";
$mu-ico-pushpin: "\ecd6";
$mu-ico-location: "\ecd7";
$mu-ico-location2: "\ecd8";
$mu-ico-history: "\ecdd";
$mu-ico-clock22: "\ecde";
$mu-ico-clock222: "\ecdf";
$mu-ico-alarm2: "\ece0";
$mu-ico-bell: "\ece1";
$mu-ico-stopwatch2: "\ece2";
$mu-ico-calendar: "\ece3";
$mu-ico-printer2: "\ece4";
$mu-ico-keyboard: "\ece5";
$mu-ico-display-widescreen-with-stand: "\ece6";
$mu-ico-laptop2: "\ece7";
$mu-ico-mobile: "\ece8";
$mu-ico-mobile2: "\ece9";
$mu-ico-tablet: "\ecea";
$mu-ico-tv: "\eceb";
$mu-ico-drawer: "\ecec";
$mu-ico-drawer2: "\eced";
$mu-ico-box-add: "\ecee";
$mu-ico-box-remove: "\ecef";
$mu-ico-download2: "\ecf0";
$mu-ico-upload: "\ecf1";
$mu-ico-floppy-disk: "\ecf2";
$mu-ico-drive: "\ecf3";
$mu-ico-database: "\ecf4";
$mu-ico-undo2: "\ecf7";
$mu-ico-redo2: "\ecf8";
$mu-ico-email-forward: "\ecf9";
$mu-ico-email-reply: "\ecfa";
$mu-ico-bubble: "\ecfb";
$mu-ico-bubbles: "\ecfc";
$mu-ico-bubbles2: "\ecfd";
$mu-ico-bubble2: "\ecfe";
$mu-ico-bubbles3: "\ecff";
$mu-ico-bubbles4: "\ed00";
$mu-ico-quotes-left: "\ed07";
$mu-ico-quotes-right: "\ed08";
$mu-ico-binoculars2: "\ed15";
$mu-ico-search3: "\ed16";
$mu-ico-zoom-in: "\ed17";
$mu-ico-zoom-out: "\ed18";
$mu-ico-enlarge: "\ed19";
$mu-ico-shrink: "\ed1a";
$mu-ico-enlarge2: "\ed1b";
$mu-ico-key: "\ed1d";
$mu-ico-key2: "\ed1e";
$mu-ico-lock2: "\ed1f";
$mu-ico-unlocked: "\ed20";
$mu-ico-wrench2: "\ed21";
$mu-ico-equalizer: "\ed22";
$mu-ico-equalizer2: "\ed23";
$mu-ico-cog: "\ed24";
$mu-ico-cogs: "\ed25";
$mu-ico-pie-chart2: "\ed2a";
$mu-ico-stats-dots: "\ed2b";
$mu-ico-stats-bars: "\ed2c";
$mu-ico-stats-bars2: "\ed2d";
$mu-ico-trophy: "\ed2e";
$mu-ico-leaf: "\ed34";
$mu-ico-meter2: "\ed36";
$mu-ico-meter22: "\ed37";
$mu-ico-hammer2: "\ed38";
$mu-ico-bin: "\ed3c";
$mu-ico-bin2: "\ed3d";
$mu-ico-briefcase: "\ed3e";
$mu-ico-airplane: "\ed3f";
$mu-ico-truck: "\ed40";
$mu-ico-accessibility: "\ed42";
$mu-ico-clipboard: "\ed48";
$mu-ico-tree: "\ed4c";
$mu-ico-cloud: "\ed51";
$mu-ico-cloud-download: "\ed52";
$mu-ico-cloud-upload: "\ed53";
$mu-ico-cloud-check: "\ed54";
$mu-ico-download22: "\ed55";
$mu-ico-upload2: "\ed56";
$mu-ico-download3: "\ed57";
$mu-ico-sphere: "\ed59";
$mu-ico-earth: "\ed5a";
$mu-ico-link: "\ed5b";
$mu-ico-attachment2: "\ed5d";
$mu-ico-bookmark2: "\ed62";
$mu-ico-bookmarks: "\ed63";
$mu-ico-sun: "\ed64";
$mu-ico-contrast2: "\ed65";
$mu-ico-brightness-contrast: "\ed66";
$mu-ico-star-empty: "\ed67";
$mu-ico-star-half: "\ed68";
$mu-ico-star-full: "\ed69";
$mu-ico-point-up: "\ed93";
$mu-ico-point-right: "\ed94";
$mu-ico-point-down: "\ed95";
$mu-ico-point-left: "\ed96";
$mu-ico-warning: "\ed97";
$mu-ico-notification3: "\ed98";
$mu-ico-question: "\ed99";
$mu-ico-plus: "\ed9a";
$mu-ico-minus: "\ed9b";
$mu-ico-info: "\ed9c";
$mu-ico-cancel-circle: "\ed9d";
$mu-ico-blocked2: "\ed9e";
$mu-ico-cross: "\ed9f";
$mu-ico-checkmark: "\eda0";
$mu-ico-checkmark2: "\eda1";
$mu-ico-spell-check: "\eda2";
$mu-ico-enter: "\eda3";
$mu-ico-exit: "\eda4";
$mu-ico-arrow-up-left: "\edc1";
$mu-ico-arrow-up: "\edc2";
$mu-ico-arrow-up-right: "\edc3";
$mu-ico-arrow-right: "\edc4";
$mu-ico-arrow-down-right: "\edc5";
$mu-ico-arrow-down: "\edc6";
$mu-ico-arrow-down-left: "\edc7";
$mu-ico-arrow-left: "\edc8";
$mu-ico-arrow-up-left2: "\edc9";
$mu-ico-arrow-up2: "\edca";
$mu-ico-arrow-up-right2: "\edcb";
$mu-ico-arrow-right2: "\edcc";
$mu-ico-arrow-down-right2: "\edcd";
$mu-ico-arrow-down2: "\edce";
$mu-ico-arrow-down-left2: "\edcf";
$mu-ico-arrow-left2: "\edd0";
$mu-ico-circle-up: "\edd1";
$mu-ico-circle-right: "\edd2";
$mu-ico-circle-down: "\edd3";
$mu-ico-circle-left: "\edd4";
$mu-ico-tab: "\edd5";
$mu-ico-move-up: "\edd6";
$mu-ico-move-down: "\edd7";
$mu-ico-sort-alpha-asc: "\edd8";
$mu-ico-sort-alpha-desc: "\edd9";
$mu-ico-sort-numeric-asc: "\edda";
$mu-ico-sort-numberic-desc: "\eddb";
$mu-ico-shift: "\eddf";
$mu-ico-ctrl: "\ede0";
$mu-ico-checkbox-checked: "\ede2";
$mu-ico-checkbox-unchecked: "\ede3";
$mu-ico-radio-checked: "\ede4";
$mu-ico-radio-checked2: "\ede5";
$mu-ico-radio-unchecked: "\ede6";
$mu-ico-crop: "\ede7";
$mu-ico-make-group: "\ede8";
$mu-ico-ungroup: "\ede9";
$mu-ico-scissors: "\edea";
$mu-ico-filter: "\edeb";
$mu-ico-font: "\edec";
$mu-ico-page-break: "\edf8";
$mu-ico-pagebreak: "\edfe";
$mu-ico-clear-formatting: "\edff";
$mu-ico-insert-template: "\ee02";
$mu-ico-share: "\ee0d";
$mu-ico-new-tab: "\ee0e";
$mu-ico-embed: "\ee0f";
$mu-ico-embed2: "\ee10";
$mu-ico-terminal: "\ee11";
$mu-ico-share2: "\ee12";
$mu-ico-mail: "\ee13";
$mu-ico-mail2: "\ee14";
$mu-ico-mail3: "\ee15";
$mu-ico-mail4: "\ee16";
$mu-ico-amazon: "\ee17";
$mu-ico-google: "\ee18";
$mu-ico-google2: "\ee19";
$mu-ico-google3: "\ee1a";
$mu-ico-google-plus2: "\ee1b";
$mu-ico-google-plus22: "\ee1c";
$mu-ico-google-plus3: "\ee1d";
$mu-ico-hangouts: "\ee1e";
$mu-ico-google-drive: "\ee1f";
$mu-ico-facebook2: "\ee20";
$mu-ico-facebook22: "\ee21";
$mu-ico-instagram2: "\ee22";
$mu-ico-whatsapp: "\ee23";
$mu-ico-spotify: "\ee24";
$mu-ico-telegram: "\ee25";
$mu-ico-twitter2: "\ee26";
$mu-ico-vine: "\ee27";
$mu-ico-vk2: "\ee28";
$mu-ico-renren: "\ee29";
$mu-ico-sina-weibo: "\ee2a";
$mu-ico-youtube: "\ee2d";
$mu-ico-twitch: "\ee2f";
$mu-ico-vimeo: "\ee30";
$mu-ico-vimeo2: "\ee31";
$mu-ico-lanyrd: "\ee32";
$mu-ico-flickr2: "\ee33";
$mu-ico-flickr22: "\ee34";
$mu-ico-flickr3: "\ee35";
$mu-ico-flickr4: "\ee36";
$mu-ico-dribbble2: "\ee37";
$mu-ico-behance2: "\ee38";
$mu-ico-behance22: "\ee39";
$mu-ico-deviantart2: "\ee3a";
$mu-ico-500px: "\ee3b";
$mu-ico-steam: "\ee3c";
$mu-ico-steam2: "\ee3d";
$mu-ico-dropbox: "\ee3e";
$mu-ico-onedrive: "\ee3f";
$mu-ico-npm: "\ee41";
$mu-ico-trello: "\ee43";
$mu-ico-wordpress: "\ee44";
$mu-ico-joomla: "\ee45";
$mu-ico-ello: "\ee46";
$mu-ico-yahoo: "\ee4b";
$mu-ico-yahoo2: "\ee4c";
$mu-ico-tux: "\ee4d";
$mu-ico-finder: "\ee4f";
$mu-ico-android: "\ee50";
$mu-ico-windows8: "\ee52";
$mu-ico-soundcloud2: "\ee53";
$mu-ico-soundcloud22: "\ee54";
$mu-ico-skype: "\ee55";
$mu-ico-reddit: "\ee56";
$mu-ico-hackernews: "\ee57";
$mu-ico-linkedin2: "\ee59";
$mu-ico-linkedin22: "\ee5a";
$mu-ico-lastfm22: "\ee5c";
$mu-ico-delicious: "\ee5d";
$mu-ico-stumbleupon: "\ee5e";
$mu-ico-stumbleupon2: "\ee5f";
$mu-ico-stackoverflow: "\ee60";
$mu-ico-pinterest2: "\ee61";
$mu-ico-pinterest22: "\ee62";
$mu-ico-xing: "\ee63";
$mu-ico-foursquare: "\ee66";
$mu-ico-paypal: "\ee68";
$mu-ico-chrome: "\ee69";
$mu-ico-firefox: "\ee6a";
$mu-ico-edge: "\ee6c";
$mu-ico-file-pdf: "\ee6f";
$mu-ico-file-openoffice: "\ee70";
$mu-ico-file-word: "\ee71";
$mu-ico-file-excel: "\ee72";
$mu-ico-html-five: "\ee74";
$mu-ico-html-five2: "\ee75";
$mu-ico-css3: "\ee76";
$mu-ico-git: "\ee77";
$mu-ico-codepen: "\ee78";
$mu-ico-add-in-circle-transparent: "\e900";
$mu-ico-at: "\e902";
$mu-ico-bookmark: "\e903";
$mu-ico-browser: "\e904";
$mu-ico-browser-visualization: "\e905";
$mu-ico-checkbox-ticked: "\e906";
$mu-ico-close-in-circle: "\e908";
$mu-ico-connections: "\e90d";
$mu-ico-favourites-in-circle: "\e911";
$mu-ico-glasses: "\e913";
$mu-ico-volume-high: "\e914";
$mu-ico-home: "\e916";
$mu-ico-menu-in-circle: "\e917";
$mu-ico-microphone: "\e918";
$mu-ico-pages: "\e91a";
$mu-ico-volume-mute: "\e91b";
$mu-ico-next-in-circle: "\e91d";
$mu-ico-note: "\e91e";
$mu-ico-notification: "\e91f";
$mu-ico-settings: "\e929";
$mu-ico-side-menu-right: "\e92b";
$mu-ico-add-solid-framed-path1: "\e932";
$mu-ico-add-solid-framed-path2: "\e933";
$mu-ico-add-solid-framed-path3: "\e934";
$mu-ico-add-solid-framed-path4: "\e935";
$mu-ico-bar-chart-path1: "\e936";
$mu-ico-bar-chart-path2: "\e937";
$mu-ico-bar-chart-path3: "\e938";
$mu-ico-bar-chart-path4: "\e939";
$mu-ico-bar-chart-path5: "\e93a";
$mu-ico-bar-chart-path6: "\e93b";
$mu-ico-bar-chart-path7: "\e93c";
$mu-ico-site-settings-path1: "\e942";
$mu-ico-site-settings-path2: "\e943";
$mu-ico-site-settings-path3: "\e944";
$mu-ico-site-settings-path4: "\e945";
$mu-ico-site-settings-path5: "\e946";
$mu-ico-site-settings-path6: "\e947";
$mu-ico-site-settings-path7: "\e948";
$mu-ico-bug-path1: "\e949";
$mu-ico-bug-path2: "\e94a";
$mu-ico-bug-path3: "\e94b";
$mu-ico-chat-path1: "\e94c";
$mu-ico-chat-path2: "\e94d";
$mu-ico-chat-path3: "\e94e";
$mu-ico-chat-path4: "\e94f";
$mu-ico-chat-path5: "\e950";
$mu-ico-chat-path6: "\e951";
$mu-ico-chat-path7: "\e952";
$mu-ico-chat-1-path1: "\e953";
$mu-ico-chat-1-path2: "\e954";
$mu-ico-chat-1-path3: "\e955";
$mu-ico-chat-1-path4: "\e956";
$mu-ico-chat-1-path5: "\e957";
$mu-ico-chat-1-path6: "\e958";
$mu-ico-chat-like-path1: "\e959";
$mu-ico-chat-like-path2: "\e95a";
$mu-ico-chat-like-path3: "\e95b";
$mu-ico-cloud-computing-path1: "\e967";
$mu-ico-cloud-computing-path2: "\e968";
$mu-ico-cloud-computing-path3: "\e969";
$mu-ico-cloud-computing-path4: "\e96a";
$mu-ico-cloud-computing-path5: "\e96b";
$mu-ico-cloud-computing-path6: "\e96c";
$mu-ico-cloud-computing-path7: "\e96d";
$mu-ico-lock-computer-path1: "\e995";
$mu-ico-lock-computer-path2: "\e996";
$mu-ico-lock-computer-path3: "\e997";
$mu-ico-lock-computer-path4: "\e998";
$mu-ico-social-computer-path1: "\e999";
$mu-ico-social-computer-path2: "\e99a";
$mu-ico-social-computer-path3: "\e99b";
$mu-ico-social-computer-path4: "\e99c";
$mu-ico-social-computer-path5: "\e99d";
$mu-ico-social-computer-path6: "\e99e";
$mu-ico-social-computer-path7: "\e99f";
$mu-ico-desk-path1: "\e9ac";
$mu-ico-desk-path2: "\e9ad";
$mu-ico-desk-path3: "\e9ae";
$mu-ico-desk-path4: "\e9af";
$mu-ico-dislike-path1: "\e9ba";
$mu-ico-dislike-path2: "\e9bb";
$mu-ico-email-send-path1: "\e9e6";
$mu-ico-email-send-path2: "\e9e7";
$mu-ico-email-send-path3: "\e9e8";
$mu-ico-email-send-path4: "\e9e9";
$mu-ico-email-send-path5: "\e9ea";
$mu-ico-email-send-path6: "\e9eb";
$mu-ico-flowchart-path1: "\e9f2";
$mu-ico-flowchart-path2: "\e9f3";
$mu-ico-people-management-path1: "\e9f4";
$mu-ico-people-management-path2: "\e9f5";
$mu-ico-people-management-path3: "\e9f6";
$mu-ico-people-management-path4: "\e9f7";
$mu-ico-people-management-path5: "\e9f8";
$mu-ico-people-management-path6: "\e9f9";
$mu-ico-people-management-path7: "\e9fa";
$mu-ico-people-management-path8: "\e9fb";
$mu-ico-handshake-path1: "\e9fc";
$mu-ico-handshake-path2: "\e9fd";
$mu-ico-handshake-path3: "\e9fe";
$mu-ico-handshake-path4: "\e9ff";
$mu-ico-head-path1: "\ea00";
$mu-ico-head-path2: "\ea01";
$mu-ico-head-path3: "\ea02";
$mu-ico-head-path4: "\ea03";
$mu-ico-head-path5: "\ea04";
$mu-ico-head-path6: "\ea05";
$mu-ico-hierarchical-structure-path1: "\ea06";
$mu-ico-hierarchical-structure-path2: "\ea07";
$mu-ico-hierarchical-structure-path3: "\ea08";
$mu-ico-hierarchical-structure-path4: "\ea09";
$mu-ico-hierarchical-structure-path5: "\ea0a";
$mu-ico-invoice-path1: "\ea0b";
$mu-ico-invoice-path2: "\ea0c";
$mu-ico-invoice-path3: "\ea0d";
$mu-ico-invoice-path4: "\ea0e";
$mu-ico-invoice-path5: "\ea0f";
$mu-ico-invoice-path6: "\ea10";
$mu-ico-invoice-path7: "\ea11";
$mu-ico-invoice-path8: "\ea12";
$mu-ico-invoice-path9: "\ea13";
$mu-ico-like-alot-path1: "\ea20";
$mu-ico-like-alot-path2: "\ea21";
$mu-ico-like-alot-path3: "\ea22";
$mu-ico-like-alot-path4: "\ea23";
$mu-ico-like-alot-path5: "\ea24";
$mu-ico-like-alot-path6: "\ea25";
$mu-ico-like-alot-path7: "\ea26";
$mu-ico-like-alot-path8: "\ea27";
$mu-ico-like-alot-path9: "\ea28";
$mu-ico-like-alot-path10: "\ea29";
$mu-ico-like-alot-path11: "\ea2a";
$mu-ico-like-alot-path12: "\ea2b";
$mu-ico-like-alot-path13: "\ea2c";
$mu-ico-like-star-path1: "\ea2d";
$mu-ico-like-star-path2: "\ea2e";
$mu-ico-like-star-path3: "\ea2f";
$mu-ico-like-path1: "\ea30";
$mu-ico-like-path2: "\ea31";
$mu-ico-like-3-path1: "\ea32";
$mu-ico-like-3-path2: "\ea33";
$mu-ico-like-3-path3: "\ea34";
$mu-ico-like-3-path4: "\ea35";
$mu-ico-like-3-path5: "\ea36";
$mu-ico-like-3-path6: "\ea37";
$mu-ico-like-3-path7: "\ea38";
$mu-ico-like-3-path8: "\ea39";
$mu-ico-like-3-path9: "\ea3a";
$mu-ico-like-3-path10: "\ea3b";
$mu-ico-like-3-path11: "\ea3c";
$mu-ico-like-3-path12: "\ea3d";
$mu-ico-like-3-path13: "\ea3e";
$mu-ico-like-security-path1: "\ea3f";
$mu-ico-like-security-path2: "\ea40";
$mu-ico-like-security-path3: "\ea41";
$mu-ico-like-security-path4: "\ea42";
$mu-ico-like-security-path5: "\ea43";
$mu-ico-like-dots-path1: "\ea44";
$mu-ico-like-dots-path2: "\ea45";
$mu-ico-like-dots-path3: "\ea46";
$mu-ico-like-dots-path4: "\ea47";
$mu-ico-like-dots-path5: "\ea48";
$mu-ico-like-dots-path6: "\ea49";
$mu-ico-like-dots-path7: "\ea4a";
$mu-ico-like-dots-path8: "\ea4b";
$mu-ico-like-dots-path9: "\ea4c";
$mu-ico-like-dots-path10: "\ea4d";
$mu-ico-like-dots-path11: "\ea4e";
$mu-ico-like-dots-path12: "\ea4f";
$mu-ico-like-dots-path13: "\ea50";
$mu-ico-like-dots-path14: "\ea51";
$mu-ico-like-dots-path15: "\ea52";
$mu-ico-like-dots-path16: "\ea53";
$mu-ico-like-dots-path17: "\ea54";
$mu-ico-list-checklist-path1: "\ea55";
$mu-ico-list-checklist-path2: "\ea56";
$mu-ico-list-checklist-path3: "\ea57";
$mu-ico-list-checklist-path4: "\ea58";
$mu-ico-list-checklist-path5: "\ea59";
$mu-ico-list-checklist-path6: "\ea5a";
$mu-ico-list-checklist-path7: "\ea5b";
$mu-ico-list-checklist-path8: "\ea5c";
$mu-ico-list-checklist-path9: "\ea5d";
$mu-ico-list-checklist-path10: "\ea5e";
$mu-ico-list-checklist-path11: "\ea5f";
$mu-ico-list-checklist-path12: "\ea60";
$mu-ico-list-checklist-path13: "\ea61";
$mu-ico-list-checklist-path14: "\ea62";
$mu-ico-list-checklist-path15: "\ea63";
$mu-ico-list-checklist-path16: "\ea64";
$mu-ico-list-checklist-path17: "\ea65";
$mu-ico-list-checklist-path18: "\ea66";
$mu-ico-list-checklist-path19: "\ea67";
$mu-ico-list-radio-path1: "\ea68";
$mu-ico-list-radio-path2: "\ea69";
$mu-ico-list-radio-path3: "\ea6a";
$mu-ico-list-radio-path4: "\ea6b";
$mu-ico-list-radio-path5: "\ea6c";
$mu-ico-list-radio-path6: "\ea6d";
$mu-ico-list-radio-path7: "\ea6e";
$mu-ico-list-radio-path8: "\ea6f";
$mu-ico-list-radio-path9: "\ea70";
$mu-ico-list-radio-path10: "\ea71";
$mu-ico-list-radio-path11: "\ea72";
$mu-ico-list-radio-path12: "\ea73";
$mu-ico-list-radio-path13: "\ea74";
$mu-ico-list-radio-path14: "\ea75";
$mu-ico-list-radio-path15: "\ea76";
$mu-ico-money-hand-path1: "\ea77";
$mu-ico-money-hand-path2: "\ea78";
$mu-ico-money-hand-path3: "\ea79";
$mu-ico-money-hand-path4: "\ea7a";
$mu-ico-money-chat-path1: "\ea7b";
$mu-ico-money-chat-path2: "\ea7c";
$mu-ico-money-chat-path3: "\ea7d";
$mu-ico-money-chat-path4: "\ea7e";
$mu-ico-money-chat-path5: "\ea7f";
$mu-ico-money-chat-path6: "\ea80";
$mu-ico-money-chat-path7: "\ea81";
$mu-ico-money-chat-path8: "\ea82";
$mu-ico-money-chat-path9: "\ea83";
$mu-ico-money-chat-path10: "\ea84";
$mu-ico-money-chat-path11: "\ea85";
$mu-ico-money-chat-path12: "\ea86";
$mu-ico-money-chat-path13: "\ea87";
$mu-ico-money-chat-path14: "\ea88";
$mu-ico-money-chat-path15: "\ea89";
$mu-ico-money-chat-path16: "\ea8a";
$mu-ico-money-chat-path17: "\ea8b";
$mu-ico-money-chat-path18: "\ea8c";
$mu-ico-money-chat-path19: "\ea8d";
$mu-ico-money-chat-path20: "\ea8e";
$mu-ico-money-chat-path21: "\ea8f";
$mu-ico-money-chat-path22: "\ea90";
$mu-ico-money-chat-path23: "\ea91";
$mu-ico-money-chat-path24: "\ea92";
$mu-ico-money-chat-path25: "\ea93";
$mu-ico-money-chat-path26: "\ea94";
$mu-ico-money-chat-path27: "\ea95";
$mu-ico-money-chat-path28: "\ea96";
$mu-ico-money-chat-path29: "\ea97";
$mu-ico-money-chat-path30: "\ea98";
$mu-ico-money-chat-path31: "\ea99";
$mu-ico-money-chat-path32: "\ea9a";
$mu-ico-money-chat-path33: "\ea9b";
$mu-ico-money-chat-path34: "\ea9c";
$mu-ico-money-chat-path35: "\ea9d";
$mu-ico-money-chat-path36: "\ea9e";
$mu-ico-money-chat-path37: "\ea9f";
$mu-ico-mouse-wired-path1: "\eaa0";
$mu-ico-mouse-wired-path2: "\eaa1";
$mu-ico-mouse-wired-path3: "\eaa2";
$mu-ico-mouse-wireless-path1: "\eaa3";
$mu-ico-mouse-wireless-path2: "\eaa4";
$mu-ico-mouse-wireless-path3: "\eaa5";
$mu-ico-mouse-wireless-path4: "\eaa6";
$mu-ico-mouse-wireless-path5: "\eaa7";
$mu-ico-mouse-wireless-path6: "\eaa8";
$mu-ico-network-path1: "\eaac";
$mu-ico-network-path2: "\eaad";
$mu-ico-network-path3: "\eaae";
$mu-ico-network-web-path1: "\eaaf";
$mu-ico-network-web-path2: "\eab0";
$mu-ico-network-web-path3: "\eab1";
$mu-ico-networking-path1: "\eab2";
$mu-ico-networking-path2: "\eab3";
$mu-ico-networking-path3: "\eab4";
$mu-ico-networking-path4: "\eab5";
$mu-ico-networking-path5: "\eab6";
$mu-ico-networking-path6: "\eab7";
$mu-ico-networking-path7: "\eab8";
$mu-ico-networking-path8: "\eab9";
$mu-ico-networking-padlock-unlocked-path1: "\eaba";
$mu-ico-networking-padlock-unlocked-path2: "\eabb";
$mu-ico-networking-padlock-unlocked-path3: "\eabc";
$mu-ico-networking-padlock-unlocked-path4: "\eabd";
$mu-ico-networking-padlock-unlocked-path5: "\eabe";
$mu-ico-networking-padlock-unlocked-path6: "\eabf";
$mu-ico-networking-padlock-unlocked-path7: "\eac0";
$mu-ico-networking-padlock-unlocked-path8: "\eac1";
$mu-ico-networking-padlock-unlocked-path9: "\eac2";
$mu-ico-networking-padlock-unlocked-path10: "\eac3";
$mu-ico-networking-padlock-unlocked-path11: "\eac4";
$mu-ico-networking-padlock-unlocked-path12: "\eac5";
$mu-ico-networking-padlock-unlocked-path13: "\eac6";
$mu-ico-networking-padlock-unlocked-path14: "\eac7";
$mu-ico-networking-human-path1: "\eac8";
$mu-ico-networking-human-path2: "\eac9";
$mu-ico-networking-human-path3: "\eaca";
$mu-ico-networking-human-path4: "\eacb";
$mu-ico-networking-human-path5: "\eacc";
$mu-ico-networking-flowchart-path1: "\eacd";
$mu-ico-networking-flowchart-path2: "\eace";
$mu-ico-networking-flowchart-path3: "\eacf";
$mu-ico-networking-flowchart-path4: "\ead0";
$mu-ico-networking-nodes-path1: "\ead1";
$mu-ico-networking-nodes-path2: "\ead2";
$mu-ico-networking-nodes-path3: "\ead3";
$mu-ico-networking-nodes-path4: "\ead4";
$mu-ico-networking-flowchart-nodes-path1: "\ead5";
$mu-ico-networking-flowchart-nodes-path2: "\ead6";
$mu-ico-pie-chart-on-display-path1: "\eaec";
$mu-ico-pie-chart-on-display-path2: "\eaed";
$mu-ico-pie-chart-on-display-path3: "\eaee";
$mu-ico-pie-chart-on-display-path4: "\eaef";
$mu-ico-pie-chart-on-display-path5: "\eaf0";
$mu-ico-pie-chart-path1: "\eaf1";
$mu-ico-pie-chart-path2: "\eaf2";
$mu-ico-pie-chart-path3: "\eaf3";
$mu-ico-pie-chart-path4: "\eaf4";
$mu-ico-pie-chart-path5: "\eaf5";
$mu-ico-pie-chart-path6: "\eaf6";
$mu-ico-pie-chart-path7: "\eaf7";
$mu-ico-pie-chart-path8: "\eaf8";
$mu-ico-pie-chart-path9: "\eaf9";
$mu-ico-pie-chart-path10: "\eafa";
$mu-ico-pie-chart-path11: "\eafb";
$mu-ico-pie-chart-path12: "\eafc";
$mu-ico-pie-chart-path13: "\eafd";
$mu-ico-pie-chart-path14: "\eafe";
$mu-ico-pie-chart-path15: "\eaff";
$mu-ico-pie-chart-path16: "\eb00";
$mu-ico-printer-path1: "\eb0d";
$mu-ico-printer-path2: "\eb0e";
$mu-ico-printer-path3: "\eb0f";
$mu-ico-printer-path4: "\eb10";
$mu-ico-printer-path5: "\eb11";
$mu-ico-printer-path6: "\eb12";
$mu-ico-printer-path7: "\eb13";
$mu-ico-search-path1: "\eb36";
$mu-ico-search-path2: "\eb37";
$mu-ico-search-path3: "\eb38";
$mu-ico-server-rack-path1: "\eb47";
$mu-ico-server-rack-path2: "\eb48";
$mu-ico-server-rack-path3: "\eb49";
$mu-ico-server-rack-path4: "\eb4a";
$mu-ico-server-rack-path5: "\eb4b";
$mu-ico-server-rack-path6: "\eb4c";
$mu-ico-server-rack-path7: "\eb4d";
$mu-ico-server-rack-path8: "\eb4e";
$mu-ico-server-rack-path9: "\eb4f";
$mu-ico-server-rack-path10: "\eb50";
$mu-ico-server-rack-path11: "\eb51";
$mu-ico-settings-with-circle-path1: "\eb52";
$mu-ico-settings-with-circle-path2: "\eb53";
$mu-ico-settings-with-circle-path3: "\eb54";
$mu-ico-settings-with-circle-path4: "\eb55";
$mu-ico-settings-with-circle-path5: "\eb56";
$mu-ico-settings-2-cogs-path1: "\eb57";
$mu-ico-settings-2-cogs-path2: "\eb58";
$mu-ico-settings-2-cogs-path3: "\eb59";
$mu-ico-settings-2-cogs-path4: "\eb5a";
$mu-ico-settings-2-cogs-path5: "\eb5b";
$mu-ico-shopping-bag-blue-path1: "\eb66";
$mu-ico-shopping-bag-blue-path2: "\eb67";
$mu-ico-shopping-bag-blue-path3: "\eb68";
$mu-ico-transfer-path1: "\eb86";
$mu-ico-transfer-path2: "\eb87";
$mu-ico-transfer-path3: "\eb88";
$mu-ico-transfer-path4: "\eb89";
$mu-ico-transfer-path5: "\eb8a";
$mu-ico-wrench-path1: "\ec10";
$mu-ico-wrench-path2: "\ec11";
$mu-ico-wrench-path3: "\ec12";
$mu-ico-wristwatch-blue-path1: "\ec13";
$mu-ico-wristwatch-blue-path2: "\ec14";
$mu-ico-wristwatch-blue-path3: "\ec15";
$mu-ico-wristwatch-blue-path4: "\ec16";
$mu-ico-wristwatch-blue-path5: "\ec17";
$mu-ico-wristwatch-blue-path6: "\ec18";
$mu-ico-wristwatch-blue-path7: "\ec19";
$mu-ico-wristwatch-blue-path8: "\ec1a";
$mu-ico-wristwatch-blue-path9: "\ec1b";
$mu-ico-wristwatch-blue-path10: "\ec1c";
$mu-ico-wristwatch-blue-path11: "\ec1d";
$mu-ico-wristwatch-blue-path12: "\ec1e";
$mu-ico-wristwatch-blue-path13: "\ec1f";
$mu-ico-wristwatch-blue-path14: "\ec20";
$mu-ico-wristwatch-blue-path15: "\ec21";
$mu-ico-wristwatch-blue-path16: "\ec22";
$mu-ico-wristwatch-blue-path17: "\ec23";
$mu-ico-wristwatch-blue-path18: "\ec24";
$mu-ico-badoo-path1: "\ec25";
$mu-ico-badoo-path2: "\ec26";
$mu-ico-badoo-path3: "\ec27";
$mu-ico-behance-path1: "\ec28";
$mu-ico-behance-path2: "\ec29";
$mu-ico-deviantart-path1: "\ec2a";
$mu-ico-deviantart-path2: "\ec2b";
$mu-ico-dribbble-path1: "\ec2c";
$mu-ico-dribbble-path2: "\ec2d";
$mu-ico-facebook-path1: "\ec2e";
$mu-ico-facebook-path2: "\ec2f";
$mu-ico-flickr-path1: "\ec30";
$mu-ico-flickr-path2: "\ec31";
$mu-ico-flickr-path3: "\ec32";
$mu-ico-google-plus-path1: "\ec33";
$mu-ico-google-plus-path2: "\ec34";
$mu-ico-google-plus-path3: "\ec35";
$mu-ico-google-plus-path4: "\ec36";
$mu-ico-google-plus-path5: "\ec37";
$mu-ico-instagram: "\ec38";
$mu-ico-lastfm-path1: "\ec39";
$mu-ico-lastfm-path2: "\ec3a";
$mu-ico-linkedin-path1: "\ec3b";
$mu-ico-linkedin-path2: "\ec3c";
$mu-ico-pinterest-path1: "\ec3d";
$mu-ico-pinterest-path2: "\ec3e";
$mu-ico-soundcloud-path1: "\ec3f";
$mu-ico-soundcloud-path2: "\ec40";
$mu-ico-swarm-path1: "\ec41";
$mu-ico-swarm-path2: "\ec42";
$mu-ico-swarm-path3: "\ec43";
$mu-ico-swarm-path4: "\ec44";
$mu-ico-swarm-path5: "\ec45";
$mu-ico-swarm-path6: "\ec46";
$mu-ico-tumblr-path1: "\ec47";
$mu-ico-tumblr-path2: "\ec48";
$mu-ico-twitter-path1: "\ec49";
$mu-ico-twitter-path2: "\ec4a";
$mu-ico-vk-path1: "\ec4b";
$mu-ico-vk-path2: "\ec4c";

